<font color='orange' style='font-size: 40px;'>Python Training </font>
<hr style='border: 2px solid orange;'>

### Tipos de Variáveis

- Inteiros (int): Armazenam números sem casas decimais
- Floats (float): Armazenam números com casas decimais
- Strings (str): Armazenam texto
- Booleanos (bool): Armazenam verdadeiro ou falso

In [10]:
cor  = 'amarelo'
num = 12

In [11]:
print("Meu número é {} e minha cor favorita é {}".format(num, cor))

Meu número é 12 e minha cor favorita é amarelo

In [ ]:
s = 'abcdef'

In [17]:
s[2:4]

'cd'

### Operadores de Aritméticos

| Operador | Nome             | Função                                                      |
|----------|------------------|-------------------------------------------------------------|
| +        | Adição           | Realiza a soma de ambos operandos.                          |
| -        | Subtração        | Realiza a subtração de ambos operandos.                     |
| *        | Multiplicação    | Realiza a multiplicação de ambos operandos.                 |
| /        | Divisão          | Realiza a Divisão de ambos operandos.                       |
| %        | Módulo           | Retorna o resto da divisão de ambos operandos.

In [ ]:
1 / 2

In [ ]:
5 % 2

In [ ]:
(2 + 3) * (5 + 5)

22

### Operadores de Comparação

| Operador | Nome                              | Função                                                                 |
|----------|-----------------------------------|------------------------------------------------------------------------|
| >        | Maior que                         | Verifica se um valor é maior que outro                                 |
| <        | Menor que                         | Verifica se um valor é menor que outro                                 |
| ==       | Igual a                           | Verifica se um valor é igual a outro                                   |
| !=       | Diferente de                      | Verifica se um valor é diferente de outro                              |
| >=       | Maior ou igual a                  | Verifica se um valor é maior ou igual a outro                          |
| <=       | Menor ou igual a                  | Verifica se um valor é menor ou igual a outro                          |
| and      | E                                 | Retorna True se todas as condições forem verdadeiras, caso contrário retorna False |
| or       | Ou                                | Retorna True se uma das condições for verdadeiras, caso contrário retorna False |
| not      | Não                               | Inverte o resultado: se o resultado da expressão for True, o operador retorna False |

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

### If, Else, Elif

In [ ]:
if 1 < 2:
    print('Oi')

In [ ]:
if 1 > 2:
    print('primeiro')
else:
    print('ultimo')

depois

In [ ]:
if 1 == 2:
    print('primeiro')
elif 3 == 3:
    print('meio')
else:
    print('ultimo')

ultimo

### For Loops

In [36]:
n = 5

In [ ]:
for i in range (n):
    print(i)

0
1
2
3
4

### Importar Bibliotecas

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

### Numpy

NumPy é uma biblioteca de Python usada para trabalhar com arrays, que são como listas de números. Por exemplo, você tem uma tabela de números e quer fazer cálculos com esses números de forma rápida e eficiente. NumPy ajuda a fazer isso.

In [12]:
meu_array = np.array([1, 2, 3, 4, 5, 6])

### Pandas

Pandas é uma biblioteca de Python usada para trabalhar com dados. Imagine que você tem uma planilha cheia de informações e quer analisar esses dados de forma rápida e eficiente.

### Carregar Dataset

In [486]:
dataset = pd.read_csv('train.csv')
dataset

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35:00,11:45:00,conditions Windy,High,1,Meal,motorcycle,0,No,Metropolitian,(min) 32
45589,0xd641,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55:00,20:10:00,conditions Windy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,(min) 36
45590,0x4f8d,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50:00,00:05:00,conditions Cloudy,Low,1,Drinks,scooter,0,No,Metropolitian,(min) 16
45591,0x5eee,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35:00,13:40:00,conditions Cloudy,High,0,Snack,motorcycle,1,No,Metropolitian,(min) 26
45592,0x5fb2,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10:00,17:15:00,conditions Fog,Medium,2,Snack,scooter,1,No,Metropolitian,(min) 36

### Ordenar dataset

In [ ]:
dataset = dataset.sort_values(by="Order_Date",ascending=True)
dataset

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Distance_km,Time_taken
37876,ALHRES05DEL02,35,4.70000,25.457687,81.835585,25.507687,81.885585,2022-02-11,22:25:00,22:40:00,Sunny,Low,2,Buffet,scooter,0,False,Urban,7.071068,11
19769,KNPRES18DEL01,32,5.00000,-26.474133,80.348100,26.484133,80.358100,2022-02-11,09:25:00,09:30:00,Sunny,Low,1,Drinks,motorcycle,0,False,Urban,5295.826694,13
692,KNPRES19DEL03,37,4.50000,26.490950,80.318656,26.550950,80.378656,2022-02-11,22:35:00,22:40:00,Stormy,Low,0,Snack,motorcycle,1,False,Metropolitian,8.485281,24
28440,GOARES01DEL03,29,4.80000,15.576683,73.755750,15.606683,73.785750,2022-02-11,18:35:00,18:50:00,Cloudy,Medium,0,Meal,motorcycle,1,False,Metropolitian,4.242641,22
40163,KNPRES16DEL02,34,4.60000,26.482581,80.315628,26.502581,80.335628,2022-02-11,09:30:00,09:45:00,Windy,Low,2,Snack,motorcycle,1,False,Urban,2.828427,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24619,PUNERES010DEL02,29,4.63378,18.539299,73.897902,18.619299,73.977902,2022-04-06,21:55:00,18:35:00,Sandstorms,Medium,0,Snack,motorcycle,1,False,Metropolitian,11.313708,25
7233,CHENRES14DEL02,26,4.00000,13.026279,80.174568,13.106279,80.254568,2022-04-06,20:30:00,20:45:00,Stormy,Jam,0,Snack,motorcycle,1,False,Metropolitian,11.313708,35
18926,MUMRES14DEL02,32,4.10000,19.181300,72.836191,19.311300,72.966191,2022-04-06,22:40:00,22:55:00,Cloudy,Low,0,Buffet,motorcycle,0,False,Urban,18.384776,39
19863,VADRES20DEL01,38,4.10000,22.311358,73.164798,22.421358,73.274798,2022-04-06,23:40:00,23:55:00,Cloudy,Low,2,Meal,motorcycle,1,False,Metropolitian,15.556349,39
2423,SURRES09DEL03,37,4.90000,21.175975,72.795503,21.265975,72.885503,2022-04-06,23:30:00,23:35:00,Cloudy,Low,2,Meal,electric_scooter,1,False,Metropolitian,12.727922,26

### Início do Dataset

In [ ]:
dataset.head()

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Distance_km,Time_taken
0,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,11:30:00,11:45:00,Sunny,High,2,Snack,motorcycle,0,False,Urban,2.828427,24
1,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,19:45:00,19:50:00,Stormy,Jam,2,Snack,scooter,1,False,Metropolitian,18.384776,33
2,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,08:30:00,08:45:00,Sandstorms,Low,0,Drinks,motorcycle,1,False,Urban,1.414214,26
3,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,18:00:00,18:10:00,Sunny,Medium,0,Buffet,motorcycle,1,False,Metropolitian,7.071068,21
4,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,13:30:00,13:45:00,Cloudy,High,1,Snack,scooter,1,False,Metropolitian,5.656854,30

### Fim do Dataset

In [ ]:
dataset.tail()

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Distance_km,Time_taken
45588,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,2022-03-24,11:35:00,11:45:00,Windy,High,1,Meal,motorcycle,0,False,Metropolitian,1.414214,32
45589,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,2022-02-16,19:55:00,20:10:00,Windy,Jam,0,Buffet,motorcycle,1,False,Metropolitian,9.899495,36
45590,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,2022-03-11,23:50:00,00:05:00,Cloudy,Low,1,Drinks,scooter,0,False,Metropolitian,4.242641,16
45591,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,2022-03-07,13:35:00,13:40:00,Cloudy,High,0,Snack,motorcycle,1,False,Metropolitian,5.656854,26
45592,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,2022-03-02,17:10:00,17:15:00,Fog,Medium,2,Snack,scooter,1,False,Metropolitian,11.313708,36

### Informações básicas

In [515]:
dataset.describe()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Vehicle_condition,Distance_km
count,45593.000000,45593.000000,45593.000000,45593.000000,45593.000000,45593.000000,45593,45593.000000,45593.000000
mean,29.544075,4.633780,17.017729,70.231332,17.465186,70.845702,2022-03-13 16:32:53.987234816,1.023359,90.785209
min,15.000000,1.000000,-30.905562,-88.366217,0.010000,0.010000,2022-02-11 00:00:00,0.000000,1.414143
25%,25.000000,4.600000,12.933284,73.170000,12.988453,73.280000,2022-03-04 00:00:00,0.000000,4.242641
50%,29.000000,4.700000,18.546947,75.898497,18.633934,76.002574,2022-03-15 00:00:00,1.000000,8.485281
75%,34.000000,4.800000,22.728163,78.044095,22.785049,78.107044,2022-03-27 00:00:00,2.000000,12.727922
max,50.000000,6.000000,30.914057,88.433452,31.054057,88.563452,2022-04-06 00:00:00,3.000000,18254.620965
std,5.696793,0.327638,8.185109,22.883647,7.335122,21.118812,NaN,0.839065,1008.799298

In [488]:
dataset.mode()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x1000,JAPRES11DEL02,35,4.8,0.0,0.0,0.13,0.13,15-03-2022,NaN,21:30:00,conditions Fog,Low,2.0,Snack,motorcycle,1,No,Metropolitian,(min) 26
1,0x1001,PUNERES01DEL01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0x1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0x1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0x1004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0xffa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45589,0xffb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45590,0xffc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45591,0xffd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45592,0xffe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Remover colunas do dataset

In [489]:
dataset = dataset.drop(columns=['ID'])

### Criar colunas no dataset

In [490]:
def distance(lat1, long1, lat2, long2):
    dlat = lat2 - lat1 
    dlong = long2 - long1
    distance = math.sqrt(dlat**2 + dlong**2)
    return distance * 100

In [491]:
dataset['Distance_km'] = dataset.apply(lambda x: distance(x['Restaurant_latitude'], x['Restaurant_longitude'], x['Delivery_location_latitude'], x['Delivery_location_longitude']), axis=1)
dataset

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),Distance_km
0,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24,2.828427
1,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33,18.384776
2,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26,1.414214
3,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21,7.071068
4,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30,5.656854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35:00,11:45:00,conditions Windy,High,1,Meal,motorcycle,0,No,Metropolitian,(min) 32,1.414214
45589,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55:00,20:10:00,conditions Windy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,(min) 36,9.899495
45590,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50:00,00:05:00,conditions Cloudy,Low,1,Drinks,scooter,0,No,Metropolitian,(min) 16,4.242641
45591,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35:00,13:40:00,conditions Cloudy,High,0,Snack,motorcycle,1,No,Metropolitian,(min) 26,5.656854
45592,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10:00,17:15:00,conditions Fog,Medium,2,Snack,scooter,1,No,Metropolitian,(min) 36,11.313708

### Melhorando dados das nossas colunas

In [492]:
dataset['Time_taken'] = dataset['Time_taken(min)'].str.replace('(min) ', '')

In [493]:
dataset['Weatherconditions'] = dataset['Weatherconditions'].str.replace('conditions ', '')

In [494]:
dataset = dataset.drop(columns=['Time_taken(min)'])

In [495]:
dataset

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Distance_km,Time_taken
0,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,Sunny,High,2,Snack,motorcycle,0,No,Urban,2.828427,24
1,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,18.384776,33
2,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,1.414214,26
3,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,7.071068,21
4,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,Cloudy,High,1,Snack,scooter,1,No,Metropolitian,5.656854,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35:00,11:45:00,Windy,High,1,Meal,motorcycle,0,No,Metropolitian,1.414214,32
45589,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55:00,20:10:00,Windy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,9.899495,36
45590,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50:00,00:05:00,Cloudy,Low,1,Drinks,scooter,0,No,Metropolitian,4.242641,16
45591,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35:00,13:40:00,Cloudy,High,0,Snack,motorcycle,1,No,Metropolitian,5.656854,26
45592,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10:00,17:15:00,Fog,Medium,2,Snack,scooter,1,No,Metropolitian,11.313708,36

In [496]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_ID           45593 non-null  object
 1   Delivery_person_Age          45593 non-null  object
 2   Delivery_person_Ratings      45593 non-null  object
 3   Restaurant_latitude          45593 non-null  float64
 4   Restaurant_longitude         45593 non-null  float64
 5   Delivery_location_latitude   45593 non-null  float64
 6   Delivery_location_longitude  45593 non-null  float64
 7   Order_Date                   45593 non-null  object
 8   Time_Orderd                  45593 non-null  object
 9   Time_Order_picked            45593 non-null  object
 10  Weatherconditions            45593 non-null  object
 11  Road_traffic_density         45593 non-null  object
 12  Vehicle_condition            45593 non-null  int64
 13  Type_of_order                45593 non-null  object
 14  Type_of_vehicle              45593 non-null  object
 15  multiple_deliveries          45593 non-null  object
 16  Festival                     45593 non-null  object
 17  City                         45593 non-null  object
 18  Distance_km                  45593 non-null  float64
 19  Time_taken                   45593 non-null  object
dtypes: float64(5), int64(1), object(14)
memory usage: 7.0+ MB

### Encontrando valores nulos

In [497]:
dataset.replace({"NaN": np.nan}, regex=True, inplace = True)

In [498]:
dataset.isnull().sum()

Delivery_person_ID                0
Delivery_person_Age            1854
Delivery_person_Ratings        1908
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weatherconditions               616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Distance_km                       0
Time_taken                        0
dtype: int64

### Completando nossos valores inválidos com a média das nossas colunas

In [499]:
dataset['Delivery_person_Age'] = pd.to_numeric(dataset['Delivery_person_Age'], errors='coerce')

In [500]:
dataset['Delivery_person_Age'] = dataset['Delivery_person_Age'].fillna(dataset['Delivery_person_Age'].mean()).astype(int)

In [501]:
dataset['Delivery_person_Ratings'] = pd.to_numeric(dataset['Delivery_person_Ratings'], errors='coerce')

In [502]:
dataset['Delivery_person_Ratings'] = dataset['Delivery_person_Ratings'].fillna(dataset['Delivery_person_Ratings'].mean()).astype(float)

In [503]:
dataset['Time_Orderd'] = dataset['Time_Orderd'].fillna(dataset['Time_Orderd'].mode()[0])

In [504]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_ID           45593 non-null  object
 1   Delivery_person_Age          45593 non-null  int64
 2   Delivery_person_Ratings      45593 non-null  float64
 3   Restaurant_latitude          45593 non-null  float64
 4   Restaurant_longitude         45593 non-null  float64
 5   Delivery_location_latitude   45593 non-null  float64
 6   Delivery_location_longitude  45593 non-null  float64
 7   Order_Date                   45593 non-null  object
 8   Time_Orderd                  45593 non-null  object
 9   Time_Order_picked            45593 non-null  object
 10  Weatherconditions            44977 non-null  object
 11  Road_traffic_density         44992 non-null  object
 12  Vehicle_condition            45593 non-null  int64
 13  Type_of_order                45593 non-null  object
 14  Type_of_vehicle              45593 non-null  object
 15  multiple_deliveries          44600 non-null  object
 16  Festival                     45365 non-null  object
 17  City                         44393 non-null  object
 18  Distance_km                  45593 non-null  float64
 19  Time_taken                   45593 non-null  object
dtypes: float64(6), int64(2), object(12)
memory usage: 7.0+ MB

### Mudar tipos de dados

##### Mudando tipo para data

In [505]:
dataset['Order_Date'] = pd.to_datetime(dataset['Order_Date'])

C:\Users\Milena.Camargo\AppData\Local\Temp\ipykernel_3456\531606344.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  dataset['Order_Date'] = pd.to_datetime(dataset['Order_Date'])

##### Mudando tipo para booleano

In [506]:
dataset['Festival'] = np.where(dataset['Festival'] == 'Yes ', 1, 0)

In [507]:
print(dataset['Festival'].unique())

[0 1]

In [508]:
dataset['Festival'] = dataset['Festival'].astype('bool')

##### Mudando tipo para string

In [509]:
dataset['Type_of_vehicle'] = dataset['Type_of_vehicle'].astype('string')

### Funções iLoc e Loc

In [1]:
dataset.loc[1]

NameError: name 'dataset' is not defined

In [ ]:
dataset.iloc[1]

### Consultas - Query

In [ ]:
dataset.query('Delivery_person_Ratings>4.7')

## Gráficos

In [ ]:
import matplotlib.pyplot as plt

### Gráficos de Linha

In [ ]:
plt.plot(dataset['Delivery_person_Ratings'])

In [ ]:
plt.plot(dataset['Delivery_person_Ratings'])
plt.plot(dataset['Delivery_person_Age'],'--')
plt.show()